{% extends 'base.html' %}

{% block title %}Pur Beurre - se connecter{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Connection à votre compte</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <form method="post" class="text-white font-weight-bold">
                      {% csrf_token %}
                      {% for field in form %}
                        {{ field.label }} <br>
                        {{ field }} <br>
                          <br>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary btn-xl">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}