
section.page-section-account {
    padding: 12rem 0;
  background: linear-gradient(to bottom,
          #{fade-out($brown, 0.2)} 0%,
          #{fade-out($brown, 0.2)} 100%) url("../../src/assets/img/bg-account.jpg") no-repeat scroll center;
  background-size: cover;
  }

  .page-section-account-email{
    padding: 4rem 0;
  }

#pspd{
    padding: 16rem 0;
    background-position: center;
    background-repeat: no-repeat;

}
