{% extends 'base.html' %}
{% load static %}

{% block title %}
Pur Beurre
{% endblock %}

{% block header %}
    <header class="masthead" xmlns="http://www.w3.org/1999/html">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8">
                    <h1 class="text-white font-weight-bold">Ah... erreur 403 : accès refusé.</h1>
                    <hr class="divider" />
                </div>
            </div>
        </div>
    </header>
{% endblock header %}